body {
  background-color: #eaf2e3;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Defino la clase llamada "parrafo" */
.parrafo {
  text-align: center; /* Texto centrado*/
  font-weight: bold; /* Texto negrita */
  font-style: italic; /* Texto cursiva */
}

.division {
  background-color: #eaf2e3;
  color: rgb(175, 0, 152);
}
.titulo {
  font-style: italic;
  color: rgb(0, 0, 0);
}
header {
  background-color: #000000;
  text-align: center;
  padding: 20px;
}
.header-container{
  background-color: #000000; /* Cambia el color de fondo a tu preferencia */
  padding: 2px; /* Añade espacio alrededor de la imagen */
}
section {
  padding: 20px; /* espaciado para la sección de 20 pixeles */
}
.contacto {
  background-color: #000000;
  text-align: center; /* Texto centrado*/
  font-weight: bold; /* Texto negrita */
}
footer {
  background-color: #ff76a8; /* Color de fondo del footer */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer-content {
  max-width: 800px; /* Ancho máximo del contenido del footer */
  margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
  text-align: center;
}

nav {
  background-color: #ff76a8;
  padding: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-right: 40px;
}
nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: rgba(175, 0, 152, 0.356);
  font-weight: bolder;
  color: #fff;
}
img {
  display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
  margin: 0 auto; /* Centrar las imágenes horizontalmente */
  max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
  border: 3px #979797; /* Contorno de 3px con un color gris alrededor de la img.*/
  border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}

h1 {
  text-shadow: 2px 2px 3px rgb(88, 173, 162);
  text-align: center;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  font-family: "Gloria Hallelujah", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Stick No Bills", sans-serif;
}

.encabezado {
  text-align: center; /*centra el párrafo */
  font-weight: bold; /*texto en negrita */
}

.texto-footer p {
  text-align: center; /*centra el párrafo */
  font-weight: bold; /*texto en negrita */
}

.contenedor-enlaces {
  /*text-align: center;*/
  width: 50px;
  height: 50px;
}
